.modal_main {
    display: flex;
    position: fixed;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
    flex-direction: column;
    width: 500px;
    overflow-y: hidden;
    background-color: #fff;
    padding: 45px;
    z-index: 2000;
}

#modal_login {
    display: flex;
    position: fixed;
    background-color: #000;
    opacity: .7;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.modal_main h2 {
    font-weight: 500;
    margin-bottom: 25px;
}

.modal_main input {
    padding: 10px 15px;
    background-color: #F6F6F6;
    border: 1px solid #D3D3D3;
    margin-bottom: 20px;
}

.modal_main button {
    margin: 15px 0;
}

.modal_main input::placeholder {
    color: #656565;
    font-size: 14px;
}

.modal_main p {
    align-self: center;
    color: #989898FF;
    font-size: 14px;
}

.modal_main .user_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal_main a {
    align-self: flex-end;
    color: #2156BD;
    font-size: 14px;
}

.modal_main .product-name {
    font-size: 18px;
}

.modal_main .cart_counter {
    display: flex;
    margin: 35px 0 0 0;
    align-items: center;
}

.modal_main .cart_counter div {
    margin: 0 10px;
}

.modal_main .cart_counter span {
    margin: 0 10px;
}

.modal_main .cart_counter .count {
    padding: 5px 15px;
    background-color: #F6F6F6;
    border: 1px solid #D3D3D3;
}

.modal_main .add_btn {
    align-self: center;
}